{% extends "layout.html.twig" %}
{% block content %}
    <section class="content-header">
        <h1>Bienvenue, <small>{{ app.user.nom }} {{ app.user.prenom }}</small></h1>
    </section>

    <section class="content">
        <div class="box-body">
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-blue">
                        <div class="inner">
                            <h3>??</h3>
                            <p> Eleves enregistrés </p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="{{ path ('ajout_utilisateur') }}" class="small-box-footer">
                            Ajouter un utilisateur
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3>??</h3>
                            <p> Professeurs enregistrés </p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="{{ path ('ajout_utilisateur') }}" class="small-box-footer">
                            Ajouter un utilisateur
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-green">
                        <div class="inner">
                            ??
                            <p>Promotions enregistrés</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-university"></i>
                        </div>
                        <a href="{{ path ('ajout_promotion') }}" class="small-box-footer">
                            Ajouter une Promotion
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-orange">
                        <div class="inner">
                            <h3>??</h3>
                            <p> Admin </p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-android-lock"></i>
                        </div>
                        <a href="{{ path ('ajout_promotion') }}" class="small-box-footer">
                            Administration
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}
