{% extends "layout.html.twig" %}

{% block content %}
<section class="content-header">
    <h1>
        Activites
        <small>liste</small><a href="activite/new" type="button" style="float:right;margin:-2px" class="btn bg-orange btn-flat margin"><i class="fa fa-plus"></i><span style="margin:3px;">Ajouter</span></a>
    </h1>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box box-warning">
                <div class="box-header">
                  <h3 class="box-title">Voici les activites realisees</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Numero</th>
                        <th>Date debut</th>
                        <th>Duree</th>
                        <th>Libelle</th>
                        <th>Description</th>
                        <th>Competences</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for activite in activites %}
                          <tr>
                            <th>{{ activite.getId() }}</th>
                            <th>{{ activite.getDebut() }}</th>
                            <th>{{ activite.getDuree() }}</th>
                            <th>{{ activite.getLibelle() }}</th>
                            <th>{{ activite.getDescription() }}</th>
                            <th>{% for competence in activite.getCompetences() %}
                                 {{  competence.getReference() }}
                              {%  endfor %}
                            </th>
                            <th style="width:60px; text-align:center;" >
                              <div class="btn-group">
                                <button type="button" title="Modifier" class="btn btn-warning btn-flat" style="margin-right:5px;"><i class="fa fa-eraser" style="width:10px;"></i></button>
                                <button type="button" title="Supprimer"  class="btn btn-danger btn-flat"><i class="fa fa-times"></i></button>
                              </div>
                            </th>
                          </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Numero</th>
                        <th>Date debut</th>
                        <th>Duree</th>
                        <th>Libelle</th>
                        <th>Description</th>
                        <th>Competences</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                      </tr>
                    </tfoot>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
{% endblock %}
