{% extends "layout.html.twig" %}

{% block content %}
<section class="content-header">
    <h1>
        Activites
        <small>liste</small><button type="button" style="float:right;margin:0px" class="btn bg-orange btn-flat margin"> Ajouter</button>
    </h1>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box box-warning">
                <div class="box-header">
                  <h3 class="box-title">Voici les activites realisees</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Numero</th>
                        <th>Date debut</th>
                        <th>Duree</th>
                        <th>Libelle</th>
                        <th>Description</th>
                        <th>Competences</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for activite in activites %}
                          <tr>
                            <th>{{ activite.getId() }}</th>
                            <th>{{ activite.getDebut() }}</th>
                            <th>{{ activite.getDuree() }}</th>
                            <th>{{ activite.getLibelle() }}</th>
                            <th>{{ activite.getDescription() }}</th>
                            <th>{% for competence in activite.getCompetences() %}
                                 {{  competence.getReference() }}
                              {%  endfor %}
                            </th>
                          </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Numero</th>
                        <th>Date debut</th>
                        <th>Duree</th>
                        <th>Libelle</th>
                        <th>Description</th>
                        <th>Competences</th>
                      </tr>
                    </tfoot>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
{% endblock %}
