{% extends "layout.html.twig" %}

{% block content %}
    <section class="content-header">
        <h1>
            Formulaire d'ajout
            <small>Utilisateur</small>
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box-group" id="accordion">
                    <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                    <div class="panel box box-primary">
                        <div class="box-header with-border">
                            <h4 class="box-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" class="collapsed">
                                Eleve
                                </a>
                            </h4>
                        </div>
                            <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="false">
                                <div class="box-body">
                                    <form role="form" method="POST" action={{ path('utilisateur') }}>
                                    <!-- text input --><div class="form-group">
                                            <input type="hidden" id="role" name="role" class="form-control" value="ROLE_ELEVE" >

                                            <label>Pseudo</label>
                                            <input type="text" id="username" name="username" class="form-control" placeholder="Pseudo">

                                            <label>Mot de Passe</label>
                                            <input type="password" id="password" name="password" class="form-control" placeholder="password">

                                            <label>Nom</label>
                                            <input type="text" id="nom" name="nom" class="form-control" placeholder="Nom">

                                            <label>Prénom</label>
                                            <input type="text" id="prenom" name="prenom" class="form-control" placeholder="Prénom">

                                            <label>E-mail</label>
                                            <input type="text" id="email" name="email" class="form-control" placeholder="exemple@email.com">

                                            <div class="form-group">
                                                <label>Promotion</label>
                                                <select class="form-control" id="promo" name="promo" value="">

                                                    {% for promotion in promotions %}
                                                        <option value={{ promotion.getId }}>{{ promotion.getLibelle }} - {{ promotion.getAnnee }}</option>
                                                    {% endfor %}

                                                </select>
                                            </div>
                                        </div>
                                        <div class="box-footer">
                                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                    </div>
        {% if is_granted('ROLE_ADMIN') %}
                <div class="panel box box-danger">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false">
                                Professeur
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="box-body">
                            <form role="form" method="POST" action={{ path('utilisateur') }}>
                                <!-- text input -->
                                <div class="form-group">
                                    <input type="hidden" id="role" name="role" class="form-control" value="ROLE_PROF" >

                                    <label>Pseudo</label>
                                    <input type="text" id="username" name="username" class="form-control" placeholder="Pseudo">

                                    <label>Mot de Passe</label>
                                    <input type="password" id="password" name="password" class="form-control" placeholder="password">

                                    <label>Nom</label>
                                    <input type="text" id="nom" name="nom" class="form-control" placeholder="Nom">

                                    <label>Prénom</label>
                                    <input type="text" id="prenom" name="prenom" class="form-control" placeholder="Prénom">

                                    <label>E-mail</label>
                                    <input type="text" id="email" name="email" class="form-control" placeholder="exemple@email.com">
                                </div>
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            <div class="panel box box-success">
                <div class="box-header with-border">
                    <h4 class="box-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false">
                         Admin
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false">
                                <div class="box-body">

                                    <form role="form" method="POST" action={{ path('utilisateur') }}>
                                    <!-- text input -->
                                        <div class="form-group">
                                            <input type="hidden" id="role" name="role" class="form-control" value="ROLE_ADMIN" >

                                            <label>Pseudo</label>
                                            <input type="text" id="username" name="username" class="form-control" placeholder="Pseudo">

                                            <label>Mot de Passe</label>
                                            <input type="password" id="password" name="password" class="form-control" placeholder="password">

                                            <label>Nom</label>
                                            <input type="text" id="nom" name="nom" class="form-control" placeholder="Nom">

                                            <label>Prénom</label>
                                            <input type="text" id="prenom" name="prenom" class="form-control" placeholder="Prénom">

                                            <label>E-mail</label>
                                            <input type="text" id="email" name="email" class="form-control" placeholder="exemple@email.com">
                                        </div>
                                        <div class="box-footer">
                                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                                        </div>
                                    </form>
                                </div><!-- box -->
                            </div><!-- CollapseThree -->
                        </div><!-- panel.box -->
                    </div><!-- accordion -->
            </div><!-- col -->
        </div><!-- row -->
        {% endif %}
    </section>
{% endblock %}