<!--
    Menu non termine
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SIOC</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/bootstrap/css/bootstrap.min.css">
    <!-- Editors & Fonts [ Email ] -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/plugins/datatables/dataTables.bootstrap.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/dist/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-yellow sidebar-mini">
    <div class="wrapper">
      <header class="main-header">

        <!-- Logo -->
        <a href="/" class="logo">  {# Retour acceuil #}
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>S</b>IOC</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>SIO</b>Competence</span>
        </a>
	<nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Navigation On/Off</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a class="dropdown-toggle">
                  <span class="hidden-xs"><b>{{ app.user.username }}</b></span>
                </a>
              </li>
              <li>
                {% if app.user %}
                  <a href="{{ path('logout') }}" class="dropdown">
                {% else %}
                  <a href="{{ path('login') }}" class="dropdown">
                {% endif %}
                <i class="fa fa-power-off"></i>
                  </a>
                  </a>
             </li>
            </ul>
          </div>
	</nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">MENU</li>
              <li class="treeview">
                  <a href="/">
                      <i class="fa fa-home"></i> <span>Accueil</span></i>
                  </a>
              </li>
            {% if is_granted('ROLE_ELEVE') %}
            <li class="treeview">
              <a href="{{ path('activite') }}">
                <i class="fa fa-wrench"></i> <span>Activités</span></i>
              </a>
            </li>
            {% endif %}
            <li class="treeview">
              <a href="{{ path('competence') }}">
                <i class="fa fa-graduation-cap"></i> <span>Compétences</span></i>
              </a>
            </li>
            {% if is_granted('ROLE_PROF') %}
            <li class="treeview">
              <a href="{{ path('promotion') }}">
                <i class="fa fa-users"></i> <span>Promotions</span>
              </a>
            </li>
            {% endif %}
            <!-- Administration -->
            {% if is_granted('ROLE_PROF') %}
            <li class="treeview">
                  <a href=""><i class="fa fa-user-secret"></i><span>Administration</span> <i class="fa fa-angle-left pull-right"></i></a>
                  <ul class="treeview-menu">
                      <li><a href="{{ path ('ajout_utilisateur') }}"><i class="fa fa-user-plus"></i>Ajouter</a></li>
                      {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path ('utilisateur') }} "><i class="fa fa-user"></i>Utilisateurs</a></li>
                      {% endif %}
                      <li><a href="{{ path ('professeur') }} "><i class="fa fa-user"></i>Professeurs</a></li>
                      <li><a href="{{ path ('eleve') }} "><i class="fa fa-user"></i>Eleves</a></li>
                  </ul>
              </li>
            {% endif %}
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        {% block content %}
        {% endblock %}
      </div><!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>SIOC</b> Version 1.0.0
        </div>
        <strong>Copyright &copy; 2016 <a href="http://www.ufip.eu/" target='blank'>UFIP</a>.</strong> Tous droits reserves.
      </footer>

      <!-- Control Sidebar -->
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->

    <!-- jQuery 2.1.4 -->
    <script src="{{ app.request.basepath }}/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="{{ app.request.basepath }}/bootstrap/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="{{ app.request.basepath }}/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="{{ app.request.basepath }}/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="{{ app.request.basepath }}/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="{{ app.request.basepath }}/plugins/fastclick/fastclick.min.js"></script>
    <!-- AdminLTE App -->
    <script src="{{ app.request.basepath }}/dist/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{{ app.request.basepath }}/dist/js/demo.js"></script>
    <!-- page script -->
    <script>
      $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
      });
    </script>
  </body>
</html>