<head>
<link rel="stylesheet" href="{{ app.request.basepath }}/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="{{ app.request.basepath }}/bootstrap/css/bootstrap.min.css">
</head>
{% block content %}
<div style="align-content: center;">

    <h1 style="text-align: center;">BTS SERVICES INFORMATIQUES AUX ORGANISATIONS - SESSION _______ - TABLEAU DE COMPETENCES</h1>
        <div>
            <h3><span style="margin-right:1000px;">NOM et Prénom du candidat :</span><Strong><span style="text-align: center;">Parcours SLAM</span></Strong> <span style="float:right; margin-right:500px;">N° du candidat :</span></h3>
        </div>
</div>
    <div style="align-content: center;">
        <table border="1">
            <tr>
                <th style="width:auto;"></th>
                <th colspan="4" style="text-align: center;"> Situations Obligatoires </th>
                <th colspan="50" style="text-align: center"> Competences mises en oeuvre </th>
            </tr>
            <tr>
                <td style="text-align: center; width:500px; position:absolute;"><strong>Situations professionnelle(intitulé et liste des documents et productions associés)</strong></td>
            {% for competence in competences %}
                <td class="tableau-vertical-th"><div class="tableau-vertical-div">{{ competence.getReference() }}-{{ competence.getLibelle() }}</div></td>
            {% endfor %}
            </tr>
            <tr>
                <th colspan="55"><span style="text-align: center"><h3><strong>Situations vécues en Formation</strong></h3></span></th>
            </tr>
            {% for activite in activites %}
                <tr>
                        <td style="padding:5px;">{{ activite.getLibelle() }}</td>
                    {% for competence in competences %}
                        <td></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</section>
{% endblock %}